{% load static %}

<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
        </div>
        <nav>
        <ul id="MenuItems">
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'list_products' %}">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="{% url 'account' %}">Account</a></li>
        </ul>
    </nav>
        <a href="cart.html"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
        <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
    </div>
</div>

<!-- Account Page -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm">
                        <input type="text" placeholder="Username">
                        <input type="password" placeholder="Password">
                        <button type="submit" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm">
                        <input type="text" placeholder="Username">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

